@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.custom-select {
	-webkit-appearance: none;
	/* Hide default arrow in Chrome */
	-moz-appearance: none;
	/* Hide default arrow in Firefox */
	appearance: none;
	/* Hide default arrow in other browsers */
	background: url('./assets/register/Vector-select.svg') no-repeat right 0.75rem center/1rem;
	padding-right: 2.5rem;
	/* Adjust padding to prevent text overlap with the arrow */
}

/* Custom autofill styles */
@layer utilities {

	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	input:-webkit-autofill:active {
		-webkit-box-shadow: 0 0 0px 1000px white inset;
		-webkit-text-fill-color: inherit;
		border: 1px solid inherit;
		transition: background-color 5000s ease-in-out 0s;
	}
}

.scrollbar-hide::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
	-ms-overflow-style: none;
	/* IE and Edge */
	scrollbar-width: none;
	/* Firefox */
}

.react-tel-input .form-control {
	background-color: white !important;
	
	/* For the input */
}

.react-tel-input .flag-dropdown {
	background-color: white !important;
	/* For the flag dropdown */
	width: 50px;
	
	/* Optional: Set a border color */
}


input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

@keyframes switch-positions {

	0%,
	100% {
		left: 0;
	}

	50% {
		left: 36px;
	}
}

@keyframes switch-positions-reverse {

	0%,
	100% {
		left: 36px;
	}

	50% {
		left: 0;
	}
}

.circle {
	position: absolute;
	top: 0;
	height: 35px;
	width: 35px;
	border-radius: 50%;
	border: 2px solid #00927c;
}

.left-circle {
	background-color: transparent;
	animation: switch-positions 2s ease-in-out infinite;
}

.right-circle {
	background-color: #00927c;
	animation: switch-positions-reverse 2s ease-in-out infinite;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: scale(0.95);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

.animate-fadeIn {
	animation: fadeIn 0.3s ease-in-out;
}




@layer components {
	.flex-center {
		@apply flex items-center justify-center;
	}

	.flex-between {
		@apply flex items-center justify-between;
	}

	.badge {
		@apply rounded px-2 py-1;
	}

	.badge-success {
		@apply badge bg-green-100 text-green-800;
	}

	.badge-danger {
		@apply badge bg-red-100 text-red-800;
	}

	.form-group label {
		@apply block text-sm font-medium text-gray-700 mb-1;
	}

	.form-control {
		@apply block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring focus:ring-primary focus:border-primary ring-primary sm:text-sm focus:placeholder-transparent;
	}

	.form-control[type='checkbox'],
	.form-control[type='radio'] {
		@apply h-5 w-5 p-0 rounded-md inline-block;
	}

	.form-control[type='radio'] {
		@apply rounded-full;
	}

	select.form-control {
		@apply text-gray-500;
	}

	.form-control-lg {
		@apply text-lg;
	}

	.radio-container {
		@apply flex items-center gap-3;
	}

	.radio-container label {
		@apply text-gray-500;
	}

	.btn {
		@apply inline-flex items-center justify-center gap-2 px-4 py-3 border border-transparent rounded-lg text-sm text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary;
	}

	.btn-lg {
		@apply py-4 px-5 text-lg border-2 rounded-xl;
	}

	.btn-uppercase {
		@apply font-medium uppercase gap-4 px-6;
	}

	.btn-primary {
		@apply bg-primary hover:bg-primary-foreground;
	}

	.btn-outline-primary {
		@apply text-primary border-primary hover:bg-primary hover:text-white;
	}

	.btn-outline-gray {
		@apply bg-white text-gray-900 shadow-sm border-gray-300 ring-inset hover:bg-gray-50;
	}

	.btn-gray {
		@apply bg-gray-400 hover:bg-gray-600;
	}

	.card {
		@apply bg-white border rounded-xl px-6 py-4;
	}

	.card-title {
		@apply text-lg font-light text-gray-500;
	}

	.card-number {
		@apply text-3xl font-bold;
	}

	.circle-xs {
		@apply w-4 h-4 bg-gray-500 rounded-full;
	}

	.h1 {
		@apply text-4xl font-bold;
	}

	.h2 {
		@apply text-3xl font-semibold;
	}

	.h3 {
		@apply text-xl font-semibold;
	}

	.h4 {
		@apply text-xl font-semibold;
	}

	/* table styles */
	table {
		@apply w-full;
	}

	table tr {
		@apply border-t border-gray-200;
	}

	table th {
		@apply text-gray-500 font-medium;
	}

	table thead th,
	table tr td,
	table tr th {
		@apply p-4;
	}

}


.dot {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	animation: blink 1.4s infinite both;
  }
  
  .dot:nth-child(2) {
	animation-delay: 0.2s;
  }
  
  .dot:nth-child(3) {
	animation-delay: 0.4s;
  }
  
  @keyframes blink {
	0%, 80%, 100% {
	  opacity: 0;
	}
	40% {
	  opacity: 1;
	}
  }
  
  .icon-path {
	transition: stroke 0.3s ease, fill 0.3s ease;
  }
  
  button:hover .icon-path {
	stroke: #00927C !important;
	fill: none;
  }
  
  /* Ensure the dot stays filled */
  button:hover .help-dot {
	fill: #00927C !important;
  }
  
  